/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
}

#taskInput, #addButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#addButton {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

.completed {
    text-decoration: line-through;
    color: #999;
    background-color: #f0f0f0; /* Cor mais clara para tarefas concluídas */
    transition: background-color 0.5s ease;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c9302c;
}

.task-removing {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    #taskInput, #addButton {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }

    .task {
        font-size: 14px;
    }
}
