/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #1e1e1e; /* Fundo da caixa mais claro que o corpo */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.1);
    border-radius: 8px;
}

h1 {
    color: #fff; /* Cabeçalho branco */
}

#taskInput, #addButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #333; /* Fundo dos campos de input */
    color: #ddd; /* Texto dos inputs */
    border: 1px solid #444; /* Borda mais sutil para inputs e botões */
}

#addButton {
    background-color: #4CAF50; /* Botão verde mais escuro */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #45a049; /* Verde um pouco mais claro ao passar o mouse */
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    background-color: #282828; /* Cada tarefa com fundo um pouco mais claro */
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.5s ease; /* Suaviza a transição de fundo */
}

.completed {
    text-decoration: line-through;
    color: #757575; /* Cor mais clara para texto tachado */
    background-color: #424242; /* Fundo para tarefas completadas */
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #f44336; /* Vermelho para botões de ação */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f; /* Vermelho mais escuro ao passar o mouse */
}

.task-removing {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    #taskInput, #addButton {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }

    .task {
        font-size: 14px;
    }
}
